# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node & React
frontend/node_modules/
frontend/dist/

# Java & Spring Boot
backend/target/
backend/.mvn/
*.jar

# Baza de date si parole
init/*.sql
.env

# Fisiere de sistem (Windows / Mac)
desktop.ini
.DS_Store

# Baze de date si date sensibile (BLOCAM FISIERUL SQL)
*.sql
init/

# Setari ale editoarelor de cod
.vscode/
.idea/
*.iml

# Node / React (Frontend)
frontend/node_modules/
frontend/dist/

# Java / Spring Boot (Backend)
backend/target/
backend/.mvn/
*.jar



backend/src/main/resources/application.properties
backend/src/main/resources/application.yml
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent



# Docker data volumes
mysql_data/
db_data/
data/

# Spring Boot help & wrapper
backend/HELP.md
backend/.mvn/wrapper/maven-wrapper.jar